{
  "extends": "standard",
  "rules": {
    "no-unused-expressions": 0,
    "eqeqeq": "warn",
    "no-throw-literal": "off",
    "handle-callback-err": "warn",
    "no-undef": "warn",
    "semi": "off"
  },
  "env": {
    "mocha": true
  },
  "plugins": []
}
